.hiddenProject {
    display: none;
}
.hiddenGraphic {
    display: none;
}

.hideProjectViewMore {
    display: none;
}
.showProjectViewMore {
    display: block;
}

.san-serif {
    font-family: sans-serif;
    font-weight: 700;
}